body {
    font-family: Verdana, sans-serif;
    color: #cccccc;
    background-color: #222222;
}

h1,
h2,
h3 {
    color: #dddddd;
}

a {
    color: #ff55ff;
}

.offset {
    margin: auto;
    width: 50%;
}


.header-bg {
    margin: auto;
    width: 100%;

    color: #dddddd;
    background-color: #111111;

    z-index: 999;
    height: 200%;
}

.header-text {
    margin: auto;
    width: 50%;

    color: #dddddd;
    background-color: #111111;

    z-index: 999;
    height: 200%;
}

ul.hzlist {
    list-style: none;
}

ul.hzlist>li {
    display: inline;
    margin: 10px;
}

img {
    width: 50%;
    height: auto;
}